@* <!DOCTYPE html>
<html>
<head>

</head>
<body> *@
	<!--selectors in css-->
    <!--selectors in css
   <h1>Hallo World</h1>
   <h2 class="x">Hi</h2>
   <p >Test1</p>
   <p class="x">Test2</p>
   <p class="x" >Test3</p>
   <p  id="w">Test4</p>
   <p id="q" >Test5</p>
   -->
  

    <!--Descendant Selector & Direct child Selector-->
    <!--Descendant Selector
@*    <section>
	   <h1>Descendant Selector</h1>
   	<div>
           
   		<p>Test <strong>one</strong> 1</p>
         <h2>Test <strong>Two</strong> 2</h2>
   		<p>Test3</p>
   		<p>Test4</p>
   	</div>
   </section> *@

  @*  <div class="container">
       <ul class="list">
           <li id="a">Test1</li>
		   <li>Test2</li>
		   <li>Test3</li>
		   <li>Test4</li>
       </ul>

   </div> *@
    -->

   
    <!--Box model | border, margin- padding-->
  

    <!--margin "auto"-->
    <!--margin "auto"
@*    <div>
        <ol type="A" >
            <li>Html</li>
            <li>css</li>
            <li>javascript</li>
            <li>Php</li>
            <li>Python</li>
        </ol>
   </div> *@
   -->

    <!--width, hight persentage-->
    <!--
   <div class="wow">
   <h2>Hallo World</h2>
    </div>
     -->

   <!--width content-->
    <!--width content
     <h1>Haloo World</h1>

     <h2>Mien at sorrow i black from thy a usby nepenthe never is the with hear surcease decorum there bleak dared</h2>

     <h3>Then the the adore on bosoms name door door of maiden wide he i the soul fancy tinkled separate of sent the but explore that bird but you tempest soul</h3>
     

     <div class="Width">
		 <h1>Haloo World</h1>
		 <h2>Mien at sorrow i black from thy a usby nepenthe never is the with hear surcease decorum there bleak dared</h2>

	 </div>


    <div class="Max-Width">
        <h1>Haloo World</h1>
        <h2>Mien at sorrow i black from thy a usby nepenthe never is the with hear surcease decorum there bleak dared</h2>

    </div>

    <div class="Min-Width">
        <h1>Haloo World</h1>
        <h2>Mien at sorrow i black from thy a usby nepenthe never is the with hear surcease decorum there bleak dared</h2>

    </div>
    -->

    <!--height content-->
    <!--height content

    <div class="height">
        <h1>Haloo World</h1>
		<h2>Mien at sorrow i black from thy a usby nepenthe never is the with hear surcease decorum there bleak dared</h2>
    </div>

    <br />

    <div class="Max-Height">
		<h1>Haloo World</h1>
		<h2>Mien at sorrow i black from thy a usby nepenthe never is the with hear surcease decorum there bleak dared</h2>

    </div>

    <br />

	<div class="Min-Height">
        <h1>Haloo World</h1>
        <p>Dreary these there dream angels above tis while and long oer still the take get soul 
            marvelled hath see quoth shore in so i the hear betook core my my bust syllable and 
            that black each just still being said was betook perfumed we or i whispered see i above 
            as shore or above he with stillness i whether that if obeisance hear only gloating i 
            scarcely moment came of pallid explore back whose relevancy this the there while is i 
            with merely i and i devil something above i hopes sign flutter the shall never and 
            whose the to
        </p>
    </div>
    -->

    <!--Block & inline elements-->
    <!--Block elements
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>

    <!--inline elements

    <span>hello</span>
    <span>hello</span>
    <span>hello</span>
	-->

    <!--Text align-->
    <!--Text align
    <div class="q">

        <p id="a">hello 1</p>
        <p id="b">hello 2</p>
        <p id="c">hello 3</p>
        <p id="d">hello 4</p>
    </div>
    -->

    <!--Text direction-->
    <!--Text direction
    <p>مرحبا Anas</p>
    -->


    <!--Text transform-->
    <!--Text transform
    <p>Human off my betook raven whose presently it name i</p>
    -->

    <!--Text Spacing-->
    <!--Text Spacing
    <p>The long its yore the one surcease heard mefilled myself i and a so dreaming upon shadows the of in</p>
    -->

    <!--Text decoration-->
    <!--Text decoration

    <p>Hallo Anas</p>
    <a href="#">Hallo Anas</a>
    -->

    <!--Text shadow-->
    <!--Text shadow
    <p>Straight word darkness quoth all the it and cried stood has bust tossed into fact i balm soul from door</p>
    <br />
    <div class="w">

    </div>
    -->


    <!--Wrapping & White spacing-->
    <!--Wrapping & White spacing

    <p id="q">Little though before thee grew of discourse entrance all tempest lenore lies weary metell then then oer methought pondered wretchAt the startled bust and fearing and implore thy he denser dying some is never that weary faintly door evilprophet</p>

    <p id="w">qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>

    <br />
    
    <div class="WS">
        Line 1:Lenore name morrow if angels swung remember this laden the art something and fancy chamber wondering unbroken is sad name
        Line 2: Lenore name morrow if angels swung remember this laden the art something and fancy chamber wondering unbroken is sad name
        Line 3: Lenore name morrow if angels swung remember this laden the art something and fancy chamber wondering unbroken is sad name
        Line 4: Lenore name morrow if angels swung remember this laden the art something and fancy chamber wondering unbroken is sad name

    </div>
    -->


    <!--Font Family & size-->
    <!--Font Family

    <p>Hallo</p>

    @* font size *@

    <h1>Hallo World</h1>

    <p id="txt1">Hallo World</p>
    <p id="txt2">Hallo World</p>
    <p id="txt3">Hallo World</p>
    <p>Hallo <span>World</span></p>
    -->


    <!--font weight-->
    <!--font weight

    <p>Hallo</p>

    <h1>Hallo</h1>

    <span>Hallo</span>

    <h1 id="q"><span>Hallo</span></h1>
    -->

    <!--Font shorthand-->
    <!--Font shorthand

    <p>Hallo World</p>
    -->


    <!--Background-->
    <!--Background

<div class="bg"></div>
-->

   <!--linear gradient-->
   <!--linear gradient

   <div class="lg"></div>
   -->

   <!--radial gradient-->
   <!--radial gradient

   <div class="rg">

   </div>
   -->

   <!--float-->
   <!--float

   <div class="parent">
       <div class="child1 float ">1</div>
	   <div class="child2 float">2</div>
	   <div class="child3 float">3</div>
   </div>

    <div class="clear">

        <p>Hallo world</p>
    </div>
    -->

    <!--Overflow-->
    <!--Overflow
    <div class="of">
        kljdfkajsdhfkjdhfdsafdalkjfhasdkjfhsdfasdf
        Stood i tapping i only door more from i perfumed with tis 
        of kind a only with lamplight tapping and here truly or 
        ease upon gently on my sad its and i nothing fiend the 
        is bird tis off agreeing there window and that my just 
        flung art expressing back
    </div>
    -->

    <!--Position-->
    <!--Position

    <div class="parent">
		<div class="child1">One</div>
		<div class="child2">Two</div>
		<div class="child3">Three</div>
        <div class="child4">Four</div>
    </div>
    <p>TestTill more rare and from door my of followed 
        the you the what reply and stronger lost wrought
        gaunt while distant perched this metell ancient 
        chamber take ominous ominous whispered the lore 
        tapping more throws on the to by late soul muttered 
        whose ebony all lie ungainly to tufted whom the 
        murmured this ungainly tis stronger forget nothing 
        sure faster as pallas divining with usby truly chamber 
        nightly master master still the murmured one evermore i
        mplore sinking upon flown its heaven this unbrokenquit 
        devil unto the lenore then i metell at me name and thrilled 
        scarcely least smiling my nameless</p>
        -->

    <!--Z-index-->
    <!--Z-index

    <div class="zi">
        
        <div class="child1">One</div>
		<div class="child2">Two</div>
		<div class="child3">Three</div>
		<div class="child4">Four</div>
    </div>
    -->


    <!--List style-->
    <!--List style

    <ul>
        <li>Html</li>
		<li>Css</li>
		<li>JavaScript</li>
		<li>Php</li>
		<li>Python</li>
    </ul>

    <ol>
        <li>Html</li>
        <li>Css</li>
        <li>JavaScript</li>
        <li>Php</li>
        <li>Python</li>
    </ol>
    -->

    <!--Table Style-->
    <!--Table Style
    <table>
        <tr>
            <th>Firstname</th>
			<th>Lastname</th>
			<th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>27</td>
        </tr>
        <tr>
			<td>Eve</td>
			<td>Jackson</td>
			<td>94</td>
        </tr>

        <tr>
            <td>John</td>
            <td>müller</td>
            <td>22</td>
        </tr>

        <tr>
			<td>John</td>
			<td>doe</td>
			<td>22</td>
        </tr>

    </table>
    -->

    <!--Pseudo-->
    <!--Pseudo
    <div class="ps"></div>
 
    <a href="https://www.google.com" class="ps">Google</a>
    <a href="https://www.facebook.com" class="ps">Facebook</a>
    <a href="https://www.twitter.com" class="ps">Twitter</a>
    <a href="https://www.instagram.com" class="ps">Instagram</a>

 
       <input type="text" class="a" placeholder="focus" />
       <br />
       <input type="text" class="b" placeholder="enable" />
       <br />
       <input type="text" class="c" disabled placeholder="disabled" />
       <br />
       <input type="text" class="f" placeholder="empty"  /> 
       <br />
       <input type="text" class="g" required placeholder="required" /> 
       <br />
       <input type="email" class="d" placeholder="valid & invalid" />
       <br />
       <input type="checkbox" class="e" placeholder="checked" />
           -->

    <!--Pseudo element-->
    <!--Pseudo element
    <p id="pe">This there the this i his once whispered leave dreams not the one i respiterespite raven answer 
        as divining the my one word and me hopes with door 
        beguiling i its the prophet is lent beguiling no 
        nepenthe cried grew the a my still surely fancy 
        lenore these little stately
    </p> 
    -->

    <!--Sibling selectors-->
    <!--Sibling selectors
    <div class="sibling">
        <h1>Title</h1>
		<p>Paragraph 1</p>
        <br />
        <hr />

        <h2>Title 2</h2>
        <p>Paragraph 2</p>
        <p>paragraph 3</p>
        <p>paragraph 4</p>
        <p>paragraph 5</p>
    </div>
    -->

    <!--Attribute selectors-->
    <!--Attribute selectors
    <input type="text" placeholder="Text" />
    <input type="password" placeholder="Password" />
    <button type="submit">Click</button>
    <a href="www.facebook.com" >facebook</a>
    <a href="www.google.de" >google</a>
    <a href="www.twitter.com" >twitter</a>
    <a href="https://www.instagram.com instagram" >instagram</a>
    <a class="test">youtube</a>
    <div class="o">
        <a href="https://www.google.com" target="_blank">gologolo</a>
    </div>
    -->

    <!--Transform-->
    <!--Transform
    <div class="tr">

        Hallo World
    </div>
    <p id="tr">Test</p>
    <p id="tr1">Test</p>
    -->

    <!--Transition-->
    <!--Transition
    <div class="tn">
        transition
    </div>
    -->

    <!--Animation-->
    <!--Animation
    <div class="an">Hi</div>
    -->
	

    <!--display block - inline - inline block-->
    <!--display block - inline - inline block
    <p>Hallo World</p>
    <p>Hallo World</p>
    <p>Hallo World</p>

    <span>Hallo World</span>
    <span>Hallo World</span>
    <span>Hallo World</span>
    -->


    <!--Felx box-->
    <!--Felx box
    <div class="parent">
		<div class="child1">item1</div>
		<div class="child2">item2</div>
        <div class="child3">item3</div>
        <div class="child4">item4</div>
    </div>
        -->


    <!--Grid-->
    <!--Grid
        <div class="parent">
            <div class="header">Header </div>
            <div class="nav">nav </div>
            <div class="main">Main content </div>
            <div class="sidebar">sidebar </div>
             <div class="footer">footer </div>
@*            <div class="item6">Item 6 </div>
            <div class="item7">Item 7 </div>
            <div class="item8">Item 8 </div>
            <div class="item9">Item 9 </div>
            <div class="item10">item 10 </div> *@

        </div>
        -->

    <!--Responsive-->
    <!--Responsive
       @*<h1>Hello World</h1> *@

       <div class="parent">
		   <div class="child">item1</div>
		   <div class="child">item2</div>
		   <div class="child">item3</div>
		   <div class="child">item4</div>
           <dive class="child">item5</dive>
           <dive class="child">item6</dive>
           <dive class="child">item7</dive>
           <dive class="child">item8</dive>
       </div>
       -->










@* 
</body>
</html> *@

