<@* !DOCTYP html>
<html lang="en">

<head>


</head>


<body> *@
	
	<!--header and its description-->
	<!-- header and its description

	<hi>Top News</hi>
	<br />
	<h2>Sport Section</h2>

	<h3>Football</h3>
	<p>
      Delphis olden mothernot before his from childe though venerable sea can day heavenly concubines
	  in day lineage bliss yet might near fulness few rake at a his however paphian she land was glee
	  though been stalked it formed deigned ye from a yea weary consecrate near was calm and gathered
	</p>

	<h3>Basketball</h3>
	<p>
     Musculeux âme bicéphale adorablement monstre dans miraculeux l'abri un la sa a langoureux prince et 
	 hélas cette ou mon véritable grâces voluptueux encore apres-demain elle mon non regard vivre et m'enivre t
	 oujours fait son donne ment ses soeurs nous jaillir
	</p>

	<h3>Swimming</h3>
	<p>
     Plainly his whose louder flown living with sat the with hath be kind nights all god hath he unbroken whether
	 madam distant ominous the door wandering fast beguiling nevermore he my weak token all chamber grim with i quoth
	 the name it the linking fowl shall ever aidenn ah bird the within i that fast his off the yet of
	</p>

	<br/>

	<h2>Art Section</h2>

	<h3>Series</h3>
	<p>
     Be so get you napping on the undaunted thy chamber days december surcease soul of be he volume ghastly said
	</p>

	<h3>Painting</h3>
	<p>
     At by in into what maiden is by of before the into thee the that art his is though oer front me the now opened 
	 heaven you him dirges the token unbrokenquit the lore my entrance curtain to he explore
	</p>

	<h3>Music</h3>
	<p>
     Bird sat art nothing sign to sir nepenthe flutter bust yore door said the at oh then bird and hauntedtell now 
	 scarce desert here something spoken sitting the shorn or see than oh visiter more off and of all nepenthe guessing 
	 lordly myself sad door my stayed dreary rare it that so i the bust made i be my a sitting i there him you bleak
	</p> 
	
	-->

	<!--inline elements and the Text formatting-->
	<!--inline elements and the Text formatting
	
	<p>Hallo <small> World</small></p>

	<span>Hallo world</span> <span>Hallo world</span>

	<h3>MacBook A2</h3>
	<p>Price: <b><s>1700$</s> 1300$ </b></p>
	<p>
	<strong>
		Warning!
		<sup>we</sup>
		<del>will</del> 
		<ins>dont</ins>
		<sub>take</sub>
		<i>paypals</i>
		<mark>payments</mark>
	</strong>
	</p>
	-->

	<!--Image, audio, video-->
    <!--Image, audio, video
 <img src="https://www.careergirls.org/wp-content/uploads/2015/06/Computer_Programmer1920X10180.jpg" alt="programming world Logo" width="300" height="500" /><!--from internet

   <br/>
	
       <img src="/images/hut-400.png" alt="RA-MICRO Logo"/> <Lokal-

 <img src="~/images/ra-micro image.png"/>

  <br />
	<audio controls>
		<source src="Audios/iPhone New phone.mp3" type="audio/mp3" />
		<source src="Audios/iPhone New phone.ogg" type="audio/ogg" />
		<source src="Audios/iPhone New phone.wav" type="audio/wav" />
		your browser doesn't support this audio type
	</audio>
	<br />
	<video controls="controls" width="400" height="400" poster="Images/hut-400.png"  preload="metadata">
		<source src="videos/Prototyp-1-Video_Sharbaji.mp4" type="video/mp4" />
		<source src="file.webm" type="video/webm" />
        <source src="file.ogv"  type="video/ogg" />
		your browser doesn't support this video type
	</video>

	-->

	<!--Table-->
	<!--Table-
	<style>
		caption {
			caption-side: top; /* Ensures the caption is at the top */
		}
	</style>
	<table border="1">
		<caption>Hallo world</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Salary</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Anas</td>
				<td>27</td>
				<td>3400</td>
			</tr>
			<tr>
				<td>Sarah</td>
				<td>24</td>
				<td rowspan="2">3000</td> <!-- Use rowspan to combine salary cells for Sarah and Wow 
			</tr>
			<tr>
				<td>Wow</td>
				<td>22</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td colspan="2">Total</td><!--use colspan to merges the first two columns 
				<td>9400</td> 
			</tr>
		</tfoot>
	</table>
	-->

	<!--List-->
	<!--List
	<ul>
		<li>Anas</li>
		<li>Sarah</li>
		<li>bara</li>
		<li>Fernando</li>
		<li>Tito</li>
	</ul>

	<ol type="A" reversed>
		<li>Html</li>
		<li>css</li>
		<li>javascript</li>
		<li>Php</li>
		<li>Python</li>
	</ol>

	<dl>
		<dt>Html</dt>
		<dd>Hyper Text Markup Language</dd>
		<dt>Css</dt>
		<dd>Cascading Style Sheets</dd>
		<dt>javascript</dt>
		<dd>Programming Language</dd>
    </dl>
	-->

	<!--Links-->
	<!--Links
		<a href="/Home/Test">Test</a><!--Relative
		<br />
 		<a href="https://www.google.com">Google</a> <!--Absolute
		 <br />
	     <a href="mailto:Test@gmail.com">Email</a>
		 <br />
		 <a href="tel:02193701231">Phone</a>
		 <br />
      <!--to navigate the user through the link to deffirant sections
	<a href="#Sec3">Section</a>
    <section>
		 <h2>Section 1</h2>
		 <p>Raven i moment of the in and smiling till chamber or ah bird his shall at tinkled
			 had upon head shall its into burden front wished me from form eyes raven visiter bird on late that from i and</p>
	</section>
	 <hr />
	<section>
		<h2>Section 2</h2>
		<p>
			Raven i moment of the in and smiling till chamber or ah bird his shall at tinkled
			had upon head shall its into burden front wished me from form eyes raven visiter bird on late that from i and
		</p>
	</section>
	<hr />
	<section id="Sec3">
		<h2>Section 3</h2>
		<p>
			Raven i moment of the in and smiling till chamber or ah bird his shall at tinkled
			had upon head shall its into burden front wished me from form eyes raven visiter bird on late that from i and
		</p>
	</section>
	<hr />
	<section>
		<h2>Section 4</h2>
		<p>
			Raven i moment of the in and smiling till chamber or ah bird his shall at tinkled
			had upon head shall its into burden front wished me from form eyes raven visiter bird on late that from i and
		</p>
	</section>
	-->
	<!--
		<<ul>
			<li><a href="/Home/Index">Home - Index</a></li>
			<li><a href="/Stuff/Index">Stuff - Index</a></li>
			<li><a href="/Stuff/Nav">Stuff - Nav</a></li>
			<li><a href="/Stuff/Links">Stuff - Links</a></li>
		</ul>
		-->

	<!--Form-->
	<!--Form
	<form >
	   <fieldset>
		  <legend>Log In Infos</legend>
			<div>
				<label for="txt">User name</label>
				<input type="text" id="txt" name="name" placeholder="Name" required />
			</div>

			<div>
				<label for="age">Age</label>
				<input type="number" id="age" name="age" placeholder="Age" required />

			</div>

			<div>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="Email" required />
			</div>

			<div>
				<label for="pass">Password</label>
				<input type="password" id="pass" name="password" placeholder="Example:#aA&$.,123" required />
			</div>
			<input type="submit" value="Log In" />
	   </fieldset>
	</form>
	-->
		

	<!--Action & method-->
	<!--Action & method in form
	 action is for Backend it transfer you to the required page, site.
	<form action="Some page" > 
	   <fieldset>
		  <legend>Log In Infos</legend>
			<div>
				<label for="txt">User name</label>
				<input type="text" id="txt" name="name" placeholder="Name" required />
			</div>
		</fieldset>
	</form>

	<form method="post">  Get: makes the infos appiers. post: makes the infos hidden
		<fieldset>
		  <legend>Log In Infos</legend>
			<div>
				<label for="txt">User name</label>
				<input type="text" id="txt" name="name" placeholder="Name" required />
			</div>
		</fieldset>
	</form>
	-->
	
	<!--Input Element-->
	<!--Input Element
	<form>

		<div>

			<label for="color">User name</label>
			<input type="color" id="color" name="color" placeholder="color"  />
		</div>

		<div>
			<label for="file">filr</label>
			<input type="file" id="file" name="file" placeholder="file"  />
		</div>

		<div>
			<label for="range">range</label>
			<input type="range" id="range" name="range" placeholder="range" min="0" max="10" step="2" value="5"/>
		</div>

		<div>
			<label for="search">Search</label>
			<input type="search" id="search" name="search" placeholder="search"  />
		</div>

		<div>
			<label for="tel">Tel</label>
			<input type="tel" id="tel" name="tel" placeholder="tel"  />
		</div>

		<div>
			<label for="url">Url</label>
			<input type="url" id="url" name="url" placeholder="url" />
		</div>

		<div>
			<label for="hidden">Hidden</label>
			<input type="hidden" id="hidden" name="hidden" placeholder="hidden" />
		</div>

		<div>
			<label for="date">date</label>
			<input type="date" id="date" name="date" placeholder="date" />
		</div>

		<div>
			<label for="month"> month</label>
			<input type="month" id="month" name="month" placeholder="month" />
		</div>

		<div>
			<label for="week">week</label>
			<input type="week" id="week" name="week" placeholder="week" />
			</div>

		<div>
			<label for="time">time</label>
			<input type="time" id="time" name="time" placeholder="time" />
		</div>

		<div>
			<label for="datetime-local">datetime-local</label>
			<input type="datetime-local" id="datetime-local" name="datetime-local" placeholder="datetime-local" />
		</div>

		<input type="submit" value="click me" />
	</form>
	-->
	

	<!--Radio checkbox-->
	<!--Radio checkbox
	<form>
		<h2>what is favorite language ?</h2>

	    	<div>
				<input id="c#" type="radio" value="c#" name="wow" checked />
				<label for="c#">C#</label>
			</div>

			<div>
			<input id="html" type="radio" value="html" name="wow" />
				<label for="html">Html</label>
	        </div>

			<div>
			<input id="css" type="radio" value="css" name="wow" />
				<label for="css">Css</label>
			</div>

			<div>
			<input id="javascript" type="checkbox" value="java" name="wow" />
				<label for="javascript">Javascript</label>
			</div>

			<div>
			<input id="php" type="checkbox" value="php" name="wow" />
				<label for="php">Php</label>
			</div>

			<input type="submit" />
	</form>
	-->
	

	<!--Select Element-->
	<!--Select Element
	<form>
		<label for="cnt">whats your favorite Country ?</label>
		<select name="country" id="cnt">
			
			<optgroup label="Asia">
				<option value="egypt">Egypt</option>
				<option value="saudi">Saudi Arabia</option>
				<option value="Jorden">Jordan</option>
				<option value="lebanon">Lebanon</option>
			</optgroup>

			
			<optgroup label="North America">
				<option value="usa">USA</option>
				<option value="canada">Canada</option>
				<option value="mexico">Mexico</option>
			</optgroup>

			<optgroup label="Europa">
				<option value="germany">Germany</option>
				<option value="france">France</option>
				<option value="italy">Italy</option>
				<option value="spain" selected>Spain</option>
			</optgroup>
		</select>

		<br />
		<hr />

		<input list="Language" name="lang">
		<datalist id="Language">
			<option value="C#"></option>
			<option value="Html"></option>
			<option value="Css"></option>
			<option value="Javascript"></option>
			<option value="Php"></option>
			<option value="Python"></option>
			<option value="Java"></option>
			<option value="C++"></option>
		</datalist>

		<input type="submit" />
	</form>
	-->
	

	<!--Button-->
	<!--Button used in general but submit and reset are used in form

	
	<form>
		<input type="text" name="user" placeholder="username" />
		<input type="password" name="pass" placeholder="password" />
		<input type="submit" name="submit" value="Send" />
		<input type="reset" name="reset" value="Reset" />
	</form>
	<input type="button" name="name" value="click" />

	<div>
 	   <button  type="button">button</button>
	</div>

	<div>
		<button type="submit">submit</button>
	</div>

	<div>
		<button type="reset">reset</button>
	</div>
	-->
	

	<!--Textarea-->
	<!--Textarea Validation
	<form target="_self">
		<div>
			<input 
			type="text"
			name="title"
			placeholder="Title"
			required
			maxlength="10"
			minlength="3"/>

		</div>
		<br />
		<div>
			<textarea
				name="content"
				rows="10"
			    cols="50"
			    placeholder="Content.."
				required
			    maxlength="300"
				autofocus>
			</textarea>
		</div>

		<input type="submit" value="Send" />
	</form>-->

	<!--Object & embed & iframe-->
	<!--Object & embed & <iframe. object and embed are not used anymore bit iframe is used but not that much

	<iframe  src="https://www.wikipedia.org" width="400" height="400">Wikipedia</iframe>

	<object data="https://www.wikipedia.org" width="400" height="400" ></object>

	<embed src="https://www.wikipedia.org" width="400" height="400" />
	<br />
	<hr />
	<iframe src="/Images/hut-400.png"width="200" height="250"  ></iframe>

	<object data="/Images/hut-400.png" width="200" height="250"></object>

	<embed src="/Images/hut-400.png" width="200" height="250" />
	<br />
	<hr />
	<iframe src="/videos/Prototyp-1-Video_Sharbaji.mp4" width="200" height="250"></iframe>

	<object data="/videos/Prototyp-1-Video_Sharbaji.mp4" width="200" height="250"></object>

	<embed src="/videos/Prototyp-1-Video_Sharbaji.mp4" width="200" height="250" />

	<br />
	<hr />
	<iframe src="/Audios/iPhone New phone.mp3" width="200" height="250"></iframe>

	<object data="/Audios/iPhone New phone.mp3" width="200" height="250"></object>

	<embed src="/Audios/iPhone New phone.mp3" width="200" height="250" />

	<br />
	<hr />


	<iframe src="/Pdfs/IB_SecondLevelSupport.pdf" width="100%" height="250"></iframe>

	<object data="/Pdfs/IB_SecondLevelSupport.pdf" width="100%" height="250"></object>

	<embed src="/Pdfs/IB_SecondLevelSupport.pdf" width="100%" height="250" />

	-->


	<!--Download files im html-->
	<!--Download files im html
	
	<div >
		<img src="/Images/hut-400.png" alt="RA-MICRO Logo">
		<br />
		<a download="RA-MICRO" href="/Images/hut-400.png" type="audio/mp3" >download image</a>
	</div >

	<br />
	<hr />

	<div>
		<audio controls>
			<source src="Audios/iPhone New phone.mp3" type="audio/mp3"/>
		</audio>
		<br />
		<a download="Iphone Ringtone" href="/Audios/iPhone New phone.mp3">download audio</a>
	</div>

	<br />
	<hr />

	<div>
		<video controls="controls" width="400" height="400" poster="Images/hut-400.png" preload="metadata">
			<source src="videos/Prototyp-1-Video_Sharbaji.mp4" type="video/mp4" />
		</video>
		<br />
		<a download="Video" href="/videos/Prototyp-1-Video_Sharbaji.mp4">download video</a>
    </div>

	<br />
	<hr />

	<div>
		<a href="/Pdfs/IB_SecondLevelSupport.pdf" target="_blank">open pdf</a>
		<br />
		<a download="IB_SecondLevelSupport" href="/Pdfs/IB_SecondLevelSupport.pdf">download pdf</a>
	</div>
	-->




@* </body>


</html>
 *@