<!DOCTYPE html>
    <html>
    <head>
        <title>Test2</title>
    </head>
    <body>


         <a href="/Images/hut-400.png">

          <img src="/Images/hut-400.png"/>

    </a>
    </body>
    </html>

