<!DOCTYPE html>
    <html lang="en">
    <head>
        

    </head>
    <body>
        <section>
           <ul>
            <li><a href="#">Sun</a><span class="hover-text">Sun</span></li>

            <li><a href="#">Mercury</a><span class="hover-text">Mercury</span></li>

            <li><a href="#">Venus</a><span class="hover-text">Venus</span></li>

            <li><a href="#">Earth</a><span class="hover-text">Earth</span></li>

            <li><a href="#">Jupiter</a><span class="hover-text">Jupiter</span></li>

            <li><a href="#">Saturn</a><span class="hover-text">Saturn</span></li>

            <li><a href="#">Uranus</a><span class="hover-text">Uranus</span></li>

            <li><a href="#">Neptune</a><span class="hover-text">Neptune</span></li>
           </ul>
        </section>
    
    </body>
    </html>