<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<body>
    <div class="con">
        <header class="hdr">
            <a href="#" class="logo">Avatar</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Clans</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Photo</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </header>

        <div class="content">
            <h2>Avatar</h2>
            <p>Upstarting shrieked dared and upon smiling bosoms whose evilprophet it 
                thereis before with this of then only a disaster the and fearing when 
                obeisance if though startled into seeming the
            </p>
            <button>Click here</button>

        </div>
    </div>

</body>
</html>