<!DOCTYPE html>
    <html lang="en">
    <head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">Portfolio</a>

            <nav class="navbar1">
                <a href="#" class="active">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">portfolio</a>
                <a href="#">Content</a>
            </nav>
    </header>

            <section class="home">
                <div class="home-content">
					<h1>Hi, I am Anas Sharbaji </h1>
					<h3>Web Developer</h3>
					<p>The The dreaming chamber was felt lore
                        so he sitting floor no i and unto devil
                        i bust turning more my unmerciful stood
                        lining my than agreeing smiling stepped 
                        sorrow and fluttered still forgiveness 
                        his angels that ominous many above</p>

                  <div class="btn-box">
                    <a href="#">Hire Me</a>
                    <a href="#">Let's Talk</a>
                   </div>
                </div>

                <div class="home-sec">
                     <a href="#"><i class='bx bxl-facebook'></i></a>
                     <a href="#"><i class='bx bxl-instagram'></i></a>
                     <a href="#"><i class='bx bxl-twitter'></i></a>
                </div>

                <span class="home-imgHover"></span>
            </section>


    
    </body>
    </html>
