<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
      <div class="menu">
        <ul>
            <li class="profile">
                <div class="img-box">
                    <img src="/images/usrimg.jpg" alt="User image" />
                </div>
                <h2>Anas</h2>
            </li>
            <li>
                <a class="active" href="#">
                    <i class="fas fa-home"></i>
					<p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-group"></i>
                    <p>clients</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-table"></i>
                    <p>products</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-chart-pie"></i>
                    <p>charts</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-pen"></i>
                    <p>posts</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-star"></i>
                    <p>favorite</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <p>settings</p>
                </a>
            </li>

            <li class="log-out">
                <a href="#">
                    <i class="fas fa-sign-out"></i>
                    <p>log out</p>
                </a>
            </li>


        </ul>
      </div>

      <div class="con">
          <div class="title-info">
            <p>dashboard</p>
            <i class="fas fa-chart-bar"></i>
        </div>

          <div class="data-info">
            <div class="box">
                <i class="fas fa-user"></i>
				<div class="data">
					<p>Users</p>
                    <span>100</span>
	 	        </div>
			</div>

            <div class="box">
                <i class="fas fa-pen"></i>
                <div class="data">
                    <p>posts</p>
                    <span>115</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-table"></i>
                <div class="data">
                    <p>products</p>
                    <span>50</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-dollar"></i>
                <div class="data">
                    <p>revnue</p>
                    <span>100</span>
                </div>
            </div>


        </div>
 
          <div class="title-info">
            <p>Products</p>
            <i class="fas fa-table"></i>
        </div>

          <div class="table">
			<table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Count</th>
                        <th>Category</th>
                    </tr>
                </thead>
				<tbody>
                    <tr>
                        <td>TV</td>
                        <td><span class="price">$200</span></td>
                        <td><span class="count">160</span></td>
                        <td> <span class="categ">Electrics</span></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><span class="price">$1000</span></td>
                        <td><span class="count">260</span></td>
                        <td> <span class="categ">Electrics</span></td>
                    </tr>
                    <tr>
                        <td>PS</td>
                        <td><span class="price">$900</span></td>
                        <td><span class="count">360</span></td>
                        <td> <span class="categ">Electrics</span></td>
                    </tr>
                    <tr>
                        <td>Laptop</td>
                        <td><span class="price">$700</span></td>
                        <td><span class="count">60</span></td>
                        <td> <span class="categ">Electrics</span></td>
                    </tr>
                    <tr>
                        <td>Pc</td>
                        <td><span class="price">$800</span></td>
                        <td><span class="count">120</span></td>
                        <td> <span class="categ">Electrics</span></td>
                    </tr>
                </tbody>
                <tfoot>
					<tr>
						<td>Total</td>
                        <td><span class="price">$3200</span></td>
                        <td><span class="count">960</span></td>
                        <td> <span class="categ">Electrics</span></td>
					</tr>
				
			</table>



        </div>
      </div>

    </body>
    </html>
