<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="Responsive-Form"/>
    </head>
    <body>

        <fieldset>
        <div >
            <h2>Sign up Form</h2>
            <p>Please fill in this form to create an account!</p>
        </div>
    </fieldset>
 
        <form>
            <input type="text" name="name" placeholder="First Name" />
            <input type="text" name="name" placeholder="Last Name" />
            <input type="text" name="name" placeholder="Username" />
            <input type="email" name="email" placeholder="Email" />
            <input type="text" name="phone" placeholder="Phone" />
            <input type="password" name="password" placeholder="Password" />
            <input type="button" name="Submit" value="Sign Up" />

        </form>

       

    
    </body>
    </html>