<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    </head>

    <body>
        <div class="con">
            <nav>
               <a class="logo" href="#">AZ Custom</a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">kids</a></li>
                    <li><a href="#">About</a></li>
               </ul>
            </nav>
        
          <div class="content">
            <div class="text">
                <h2>az custom brand for <br> Running shoes</h2>
                <p>Being rapping desolate the bird yore smiling 
                    name a lore linking stillness moment window 
                    r this on sure then above</p>
            </div>
            <div class="image">
                <img src="/Images/shoes.png" alt="Sport shoes" />
            </div>
          </div>

       </div> 

    </body>
    </html>
